@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700;800&display=swap");
@import "Components/login.css";
@import "Components/background.css";
@import "Components/clock.css";
@import "Components/quote.css";
@import "Components/greeting.css";

@import "reset.css";

body {
  font-family: "Open Sans", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 350px;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.logined-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

li {
  list-style-type: disc;
}
