#login-form {
  margin-bottom: 10px;
  border-bottom: 1px solid white;
}

#login-form input {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 24px;
  padding: 5px 10px;
}

#login-form button {
  border: none;
  background-color: transparent;
  font-size: 18px;
  color: white;
}

<<<<<<< Updated upstream
input:focus {
  outline: none;
}

#login-form input::placeholder {
=======
.login-form input::placeholder {
>>>>>>> Stashed changes
  color: white;
}
