#todo-form {
  display: flex;
  flex-direction: column;
}

#todo-form h3 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 10px;
}

#todo-form input {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 26px;
  padding: 5px 10px;
  border-bottom: 2px solid white;
  text-align: center;
  margin-bottom: 10px;
}

#todo-list li {
  font-size: 22px;
  margin-bottom: 10px;
  list-style-type: disc;
}

#todo-list li span {
  margin-right: 12px;
}

#todo-list li button {
  border: none;
  background-color: transparent;
}
